* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1507px;
    margin-left: auto;
    margin-right: auto
}

button {
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    background-color:aliceblue;
    padding: 5px;
    font-size: medium;
}

select {
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    background-color: aliceblue;
    padding: 2px;
    font-size: medium;
}

@media only screen and (min-width: 725px) {
    button:hover {
        background-color: #209CEE;
        font-weight: bold;
        color: white;
    }
}