.comments-loading {
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}

.comments-title {
    font-size: x-large;
    margin-top: 5px;
    margin-bottom: 29px;
    text-align: center;
}

.article-comments > ul {
    display: block;
}

.article-comments {
    grid-area: comments;
    max-width: 1000px;
}