.comment {
    border: solid 2px #209CEE;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
}

.comment-body {
    font-weight: bold;
    border: solid cadetblue 2px;
    border-radius: 10px;
    padding: 10px;
}

.comment-info {
    display: inline-block;
    padding-right: 40px;
}

@media only screen and (max-width: 500px) {
    .comment {
        font-size: 0.9rem;
    }
}