.navbar {
    padding-left: 0px;
}

.navbar > li {
    display: inline-block;
    margin: 0;
}

.navbar > li > * {
    padding-left: 20px;
    font-size: larger;
    text-decoration: none;
    color: black;
}

.nav:hover {
    color:#209CEE;
    font-weight: bold;
}