.navbar {
    padding-left: 0px;
}

.navbar > li {
    display: inline-block;
    margin: 0;
}

.navbar > li > * {
    padding-left: 20px;
    font-size: larger;
    text-decoration: none;
    color: black;
}

.nav:hover {
    color:#209CEE;
    font-weight: bold;
}

.cooking:hover {
    color:#209CEE;
    font-weight: bold; 
}

@media only screen and (max-width: 725px) {
    .navbar > li {
        margin: auto;
    }

    .navbar > li > .cooking {
        padding-right: 20px;
    }
}